body {
  /* Prevent the user selecting text in the example */
  user-select: none;
}

#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: white;
}

.dropzone {
  width: 200px;
  height: 20px;
  background: blueviolet;
  margin-bottom: 10px;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
}

.store {
  width: 200px;
  height: 400px;
  background-color: bisque;
}

.character {
  width: 200px;
  height: 400px;
  background-color: darkorange;
}

.inner {
  margin-top: 2rem;
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.head {
  width: 100px;
  height: 70px;
  background-color: darkturquoise;
}

.face {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: gold;
  margin: 0 auto;
}

.middlebody {
  width: 100px;
  height: 120px;
  background-color: gold;
}

.lowerbody {
  width: 100px;
  height: 120px;
  background-color: gold;
  border-top: 10px solid;
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shirts {
  display: flex;
}

.shirt1,
.shirt2,
.shirt3 {
  height: 120px;
  min-width: 66px;
}

.shirt1 {
  background-color: blue;
}

.shirt2 {
  background-color: green;
}

.shirt3 {
  background-color: purple;
}

.pants {
  display: flex;
  margin-top: 10px;
}

.pant1,
.pant2,
.pant3 {
  height: 120px;
  min-width: 66px;
}

.pant1 {
  background-color: black;
}

.pant2 {
  background-color: blue;
}

.pant3 {
  background-color: brown;
}
